@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
html {
  scroll-behavior: smooth;
}
body {
    padding-bottom: 0;
    
}
@media (min-width:992px){
  body {
       padding-bottom: 1030px;
   }
}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
.content{
  position: absolute;
  margin-top: 0%;
  top: 50%;
  left: 50%;
  z-index: 999;
  text-align: center;
  padding: 20px;
  width: 85%;
  transform: translate(-50%,-50%);
  background: rgba(255,255,255,0.04);
  box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
  border-radius: 25px;
}
@media (min-width:992px){
  .content {
       margin-top: 15%;
   }
}

.box {
    align-content: center   !important;
position: relative;
width: 200px;
height: 200px;
background: rgba(0,0,0,0.5);
border-radius: 50%;
overflow: hidden;
margin-left: auto;
margin-right: auto;
}
.box::before {
    content: '';
    position: absolute;
    inset: -10px 45px;
    background: linear-gradient(315deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 4s linear infinite;
}
.box:hover::before {
    inset: -20px 0px;
}
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.box::after {
    content: '';
    position: absolute;
    inset: 6px;
    background: #000000;
    border-radius: 50%;
    z-index: 1;
}
.profile {
    position: absolute;
    inset: 5px;
    border: 5px solid #070a1c;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
}
.profile img {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    object-fit: cover;
}

/* Name */
.name h1 {
    font-family: 'Ubuntu', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 45px;
}

/* social media */
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.social-links {
	display: flex;
    justify-content: center;
}

.social-btn {
	cursor: pointer;
	height: 50px;
	width: 50px;
	font-family: 'Titillium Web', sans-serif;
	color: #ffffff;
	border-radius: 10px;
	box-shadow: 0px 10px 10px rgba(0,0,0,0.8);
	background: rgb(24, 23, 23,0.7);
	margin: 5px;
	transition: 1s;
}
.social-btn a{
    color: #ffffff;
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
    cursor: pointer;
	height: 50px;
	width: 50px;
    margin: 5px;
	transition: 1s;
}
.social-btn span {
	width: 0px;
	overflow: hidden;
	transition: 1s;
	text-align: center;
}

.social-btn:hover {
	width: 150px;
	border-radius: 5px;
}

.social-btn:hover span {
	padding: 2px;
	width: max-content;
}

#mail svg {
	fill: #EA4335;
}

#linkedin svg {
	fill: #0e76a8;
}
#whatsapp svg {
	fill: #075e54
}

#github svg {
	fill: #565454;
}

#instagram svg {
	fill: #bc2a8d;
}

/* project */
.project h3 {
    font-family: 'Zilla Slab', serif;
    color: rgb(255, 255, 255);
    letter-spacing: 0.2rem;
    padding-bottom: 20px;
    font-size: 35px;
}

/* container */
.container {
    width: 90%;
    border: 4px solid black;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0,0,0,0.4);
    border-radius: 5px;
    padding-bottom: 20px;
}
button {
    position: relative;
    background: #ffffff;
    text-decoration: none;
    border: none;
    font-size: 30px;
    padding: 0.5rem 1rem;
    transition: 0.2s;
    border-radius: 5px;
    width: 100%;
    height: 55px;
    cursor: pointer;
  }
  button a{
    color: #ffffff;
    text-decoration: none; 
    font-size: 26px;
  }
  
  button:hover {
    letter-spacing: 4px;
    padding: 0.6rem 1.1rem;
    background: var(--clr);
    color: var(--clr);
    /* box-shadow: 0 0 35px var(--clr); */
    animation: box 3s infinite;
  }
  
  button::before {
    content: "";
    position: absolute;
    inset: 5px;
    background: linear-gradient(315deg, #00ccff, #d400d4);
    border-radius: 5px;
  }
  
  button span {
    position: relative;
    z-index: 1;
  }
  button i {
    position: absolute;
    inset: 0;
    display: block;
  }
  
  button i::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 5px;
    left: 80%;
    top: -2px;
    border: 3px solid var(--clr);
    background: #282222;
    transition: 0.2s;
  }
  
  button:hover i::before {
    width: 30px;
    left: 20%;
    animation: move 3s infinite;
  }
  
  button i::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 5px;
    left: 20%;
    bottom: -2px;
    border: 3px solid var(--clr);
    background: #272822;
    transition: 0.2s;
  }
  
  button:hover i::after {
    width: 30px;
    left: 80%;
    animation: move 3s infinite;
  }
  
  @keyframes move {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes box {
    0% {
      box-shadow: #27272c;
    }
    50% {
      box-shadow: 0 0 25px var(--clr);
    }
    100% {
      box-shadow: #27272c;
    }
  }

.container p{
    color: white;
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 1px;
}

.container {
    margin-bottom: 20px;
}

.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #ffffff 0%,
    #00ef04 29%,
    #00fffb 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 25px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.image-container {
    display: flex;
    padding-left: 5%;
    padding-top: 10px;
  }
  
.image-container img {
    width: 35px;
    height: 35px;
    margin: 5px;
}
.last{
    align-items: end;
    padding-right: 5%;
    text-align: end;
}

.note p {
    color: #ffffff;
    font-size: 14px;
}



.center {
  width: 90%;
  margin: auto;
}
section button {
  color: #000;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  display: block;
  font-size: 1.3em;
  letter-spacing: 3px;
  overflow: hidden;
}

section .hidden {
  padding: 10px;
  overflow: hidden;
  height: 0;
  opacity: 0;
  background-color: rgba(0,0,0,0.8);
  color: #fff;
  overflow: hidden;
  letter-spacing: 2px;
  border: 4px solid rgb(47, 58, 69);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

section:target .hidden {
  height: 100%;
  opacity: 1;
  padding: 20px;
}

section p{
  color: white;
  text-align: justify;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 25px;
  line-height: 35px;
  letter-spacing: 1px;
}

section {
  margin-bottom: 10px;
}

section strong {
  color: #8e8f8b;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}
.column {
  padding-left: 5%;
  float: left;
  width: 50%;
}
.row:after {
  display: table;
  clear: both;
}
.visit{
  color: #ffffff;
  text-decoration: none; 
  font-size: 18px;
}
.glow-on-hover {
  margin-left: 50%;
  margin-right: 50%;
  margin-bottom: 20px;
  width: auto;
  height: auto;
  font-size: 16px;
  border: none;
  outline: none;
  color: #fff;
  background: linear-gradient(315deg, #00ccff, #d400d4)!important;
  cursor: pointer;
  position: relative;
  z-index: 1;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(315deg, #00ccff, #d400d4)!important;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
 .para2{
  color: red;
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: bolder;
  text-shadow: 0 3px 0 #000000;
 }
